---
import { Image } from "astro:assets";
import IconLinkBtn from "../ui/IconLinkBtn.astro";
import Card from "../ui/Card.astro";
import type { Project } from "../../hooks/useContent.hook";

interface Props {
  project: Project;
  lazyLoad?: boolean;
}

const { project, lazyLoad } = Astro.props;
---

<Card
  class="flex flex-col"
  aria-labelledby={`project-${project.title
    .replace(/\s+/g, "-")
    .toLowerCase()}`}
>
  {
    project.imageUrl && (
      <Image
        class="aspect-video h-full w-full rounded-xl object-contain drop-shadow-md transition-all duration-500 group-hover:md:scale-[1.01]"
        height="310"
        width="552"
        alt={`Screenshot showing ${project.title} project interface`}
        decoding="async"
        loading={lazyLoad ? "lazy" : "eager"}
        src={project.imageUrl}
      />
    )
  }
  <div class="flex flex-col gap-2">
    <h3
      id={`project-${project.title.replace(/\s+/g, "-").toLowerCase()}`}
      class="text-xl"
    >
      {project.title}
    </h3>
    <ul class="flex flex-wrap gap-2 text-sm" aria-label="Technologies used">
      {
        project.technologies.map((tech) => (
          <li class="group-hover:bg-bg-secondary border-border-primary rounded border-2 p-2 font-bold uppercase">
            {tech}
          </li>
        ))
      }
    </ul>
  </div>
  <p class="text-text-secondary max-w-prose">
    {project.description}
  </p>
  <div
    class="items-flex-wrap flex w-full flex-grow flex-wrap items-center gap-2"
  >
    {
      project.githubUrl && (
        <IconLinkBtn
          external
          href={project.githubUrl || ""}
          title="See this project on GitHub"
          aria-label={`View ${project.title} source code on GitHub`}
          icon="simple-icons:github"
          class="group-hover:bg-bg-hover"
        >
          GitHub
        </IconLinkBtn>
      )
    }

    {
      project.projectUrl && (
        <IconLinkBtn
          external
          href={project.projectUrl}
          title="See this project in action"
          aria-label={`Visit ${project.title} live website`}
          icon="mdi:external-link"
          class="group-hover:bg-bg-hover"
        >
          View site
        </IconLinkBtn>
      )
    }
  </div>
</Card>
