---
import { Image } from "astro:assets";
import Icon from "../components/Icon.astro";
import Layout from "../layout/Layout.astro";
import useContent from "../hooks/useContent.hook";

export const prerender = true;

const { getProjects, getDetails } = useContent();
const projects = await getProjects();
const { fullName } = await getDetails();
---

<Layout title={"Projects"}>
  <div class="md:mt-4 lg:mt-24">
    <nav aria-label="Breadcrumb">
      <a
        class="group/back flex flex-row items-center gap-2 transition-all hover:fancy"
        aria-label="Back to home page"
        href="/"
      >
        <Icon
          class="h-5 w-5 transition-all group-hover/back:-translate-x-2 group-hover/back:scale-110 group-hover/back:animate-pulse"
          name="ep:back"
          decorative={true}
        />{fullName}</a
      >
    </nav>
    <table class="mt-4 w-full table-auto border-collapse pb-24 text-left">
      <caption class="mb-12 w-full text-start text-4xl">
        <h1>All Projects</h1>
      </caption>
      <thead class="sticky top-0 z-10 border-b px-6 py-5 backdrop-blur-sm">
        <tr>
          <th class="hidden py-4 pr-8 md:table-cell" scope="col">
            <span class="sr-only">Project thumbnail</span>
          </th>
          <th class="py-4 pr-8 text-sm font-semibold" scope="col">Year</th>
          <th class="py-4 pr-8 text-sm font-semibold" scope="col">Project</th>
          <th
            class="hidden py-4 pr-8 text-sm font-semibold lg:table-cell"
            scope="col">Company</th
          >
          <th
            class="hidden py-4 pr-8 text-sm font-semibold lg:table-cell"
            scope="col">Tech Stack</th
          >
          <th
            class="hidden py-4 pr-8 text-sm font-semibold sm:table-cell"
            scope="col">GitHub</th
          >
          <th
            class="hidden py-4 pr-8 text-sm font-semibold sm:table-cell"
            scope="col">See Project</th
          >
        </tr>
      </thead>
      <tbody class="py-8">
        {
          projects.map((project) => {
            return (
              <tr class="border-b last:border-none">
                <td class="group/thumbnail hidden py-4 pr-4 md:table-cell ">
                  {project.imageUrl && (
                    <a
                      href={project.projectUrl || project.githubUrl || ""}
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label={`View ${project.title} thumbnail`}
                    >
                      <Image
                        class="aspect-video h-full w-full min-w-[75px] rounded-xl object-contain drop-shadow-md transition-all duration-500 group-hover/thumbnail:md:scale-110"
                        height="70"
                        width="122"
                        alt={`${project.title} project screenshot`}
                        decoding="async"
                        loading="lazy"
                        src={project.imageUrl}
                      />
                    </a>
                  )}
                </td>
                <td class="py-4 pr-4 align-top font-semibold leading-tight">
                  {project.year}
                </td>
                <td class="py-4 pr-4 align-top font-semibold leading-tight">
                  <span class="hidden sm:block">{project.title}</span>
                  <span class="hidden min-w-[20ch] font-normal text-slate-800 dark:text-gray-200 sm:block">
                    {project.description}
                  </span>
                  <span class="block sm:hidden">
                    {project.projectUrl || project.githubUrl ? (
                      <a
                        href={project.projectUrl || project.githubUrl}
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-label={`Visit ${project.title} project`}
                        class="group/project flex flex-row items-center gap-2 hover:fancy"
                      >
                        <span class="max-w-[67vw] truncate text-ellipsis">
                          {project.title}
                        </span>
                        <Icon
                          class="h-5 w-5 transition-all group-hover/project:scale-110 group-hover/project:animate-pulse"
                          name="mdi:external-link"
                          decorative={true}
                        />
                      </a>
                    ) : (
                      <p class="max-w-xs truncate text-ellipsis font-normal hover:fancy">
                        {project.title}
                      </p>
                    )}
                  </span>
                </td>
                <td class="hidden py-4 pr-8 align-middle text-sm lg:table-cell">
                  {project.company}
                </td>
                <td class="hidden py-4 pr-4 text-center align-middle lg:table-cell">
                  <ul class="flex min-w-[15ch] flex-row flex-wrap">
                    {project.technologies.map((tech) => (
                      <li class="rounded border-2 p-1 text-xs font-bold uppercase">
                        {tech}
                      </li>
                    ))}
                  </ul>
                </td>
                <td class="hidden py-4 pl-2 pr-4 align-middle sm:table-cell">
                  {project.githubUrl && (
                    <a
                      href={project.githubUrl}
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label={`View ${project.title} on GitHub`}
                      class="group/github"
                    >
                      <Icon
                        class="h-5 w-5 transition-all group-hover/github:scale-110 group-hover/github:animate-pulse"
                        name="simple-icons:github"
                        ariaLabel="GitHub"
                      />
                    </a>
                  )}
                </td>
                <td class="hidden text-sm sm:table-cell">
                  {project.projectUrl || project.githubUrl ? (
                    <a
                      href={project.projectUrl || project.githubUrl}
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label={`Visit ${project.title} website`}
                      class="group/project flex flex-row items-center gap-2 hover:fancy"
                    >
                      <span class="max-w-[10rem] truncate text-ellipsis lg:max-w-[15rem]">
                        {project.projectUrl?.replace(/(^\w+:|^)\/\//, "") ||
                          project.githubUrl?.replace(/(^\w+:|^)\/\//, "")}
                      </span>
                      <Icon
                        class="h-5 w-5 transition-all group-hover/project:translate-x-1 group-hover/project:scale-110 group-hover/project:animate-pulse"
                        name="mdi:external-link"
                        decorative={true}
                      />
                    </a>
                  ) : null}
                </td>
              </tr>
            );
          })
        }
      </tbody>
    </table>
  </div>
</Layout>
