---
import type { Details } from "../hooks/useContent.hook";
import SocialsBar from "./SocialsBar.astro";

interface Props {
  class?: string;
  details: Details;
}

const { class: className, details } = Astro.props;
---

<div
  class:list={[
    "flex h-full flex-col items-center gap-8 lg:items-start",
    className,
  ]}
>
  <div class="flex flex-col gap-2">
    <a title={details.fullName} href="/">
      <h1 class="fancy font-heading text-7xl">{details.fullName}</h1>
    </a>
    <h2 class="font-sub-heading">{details.title}</h2>
    <p class="max-w-[25rem]">{details.pitch}</p>
  </div>
  <slot />
  <SocialsBar class="justify-center" socials={details.socials} />
</div>
