---
import { Icon } from "astro-iconify";
import { type Link } from "../types/link";

interface Props {
  links: Link[];
}

const { links } = Astro.props;
---

<div
  class="flex min-h-[120px] w-full flex-row items-start justify-center gap-16"
>
  {
    links.map((link) => (
      <a
        id={`${link.id}_nav`}
        title={link.alt}
        class="flex flex-col items-center justify-center gap-0 rounded-xl text-xl text-black transition-all duration-200 hover:fancy hover:text-black active:text-black dark:text-white dark:hover:text-white dark:active:text-white hover:md:pb-4 hover:md:pt-8 lg:text-transparent dark:lg:text-transparent"
        href={link.link}
      >
        {link.title}
        <Icon class="h-10 w-10 text-black dark:text-white" name={link.icon} />
      </a>
    ))
  }
</div>

<script define:vars={{ links }} is:inline>
  const hoverStyle = [
    "lg:px-8",
    "lg:pb-4",
    "lg:pt-8",
    "lg:indent-0",
    "lg:text-black",
    "dark:lg:text-white",
  ];

  const transparentStyle = ["lg:text-transparent", "dark:lg:text-transparent"];

  const handleUpdatingActiveNavItems = (elements) => {
    elements.forEach((element) => {
      const middle = window.innerHeight / 2 + window.scrollY;
      const scrolledToElement = document.getElementById(`${element.id}_nav`);

      if (
        middle > element.offsetTop &&
        middle < element.offsetTop + element.offsetHeight
      ) {
        scrolledToElement?.classList.remove(...transparentStyle);
        scrolledToElement?.classList.add(...hoverStyle);
      } else {
        scrolledToElement?.classList.add(...transparentStyle);
        scrolledToElement?.classList.remove(...hoverStyle);
      }
    });
  };

  let scrollHandler;

  document.addEventListener("astro:before-swap", () => {
    if (scrollHandler) {
      window.removeEventListener("scroll", scrollHandler);
    }
  });

  document.addEventListener(
    "astro:page-load",
    () => {
      const elements = links.map((link) => document.getElementById(link.id));
      scrollHandler = () => handleUpdatingActiveNavItems(elements);
      window.addEventListener("scroll", scrollHandler);
      handleUpdatingActiveNavItems(elements);
    },
    { once: true },
  );
</script>
