---
import { Icon } from "astro-icon";
import { type Project } from "../hooks/useProjects.hook";

interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<article class="grid grid-rows-2 gap-8">
  <img
    class="row-span-1 aspect-video h-full w-full rounded-xl object-contain"
    height="316"
    src={project.imageUrl}
  />
  <div class="row-span-1 flex flex-col gap-2">
    <p class="text-xl">{project.title}</p>
    <div class="flex flex-wrap gap-2 text-sm">
      {
        project.technologies.map((tech) => (
          <p class="rounded-xl border-2 p-2 font-bold uppercase">{tech}</p>
        ))
      }
    </div>
    <p class="max-w-prose">
      {project.description}
    </p>
    <div class="items-flex-wrap flex w-full flex-wrap gap-2">
      <a
        href={project.githubUrl}
        target="_blank"
        rel="noopener noreferrer"
        title="See this project on GitHub"
        class="flex h-fit flex-grow items-center justify-center gap-4 rounded-xl p-2 text-xl transition-all hover:scale-105 hover:bg-gray-50"
        >GitHub<Icon
          class="h-10 w-10 hover:animate-pulse"
          name="simple-icons:github"
        /></a
      >
      <a
        href={project.projectUrl}
        target="_blank"
        rel="noopener noreferrer"
        title="See this project in action"
        class="flex h-fit flex-grow items-center justify-center gap-4 rounded-xl p-2 text-xl transition-all hover:scale-105 hover:bg-gray-50"
        >View site<Icon
          class="h-10 w-10 hover:animate-pulse"
          name="ic:round-computer"
        /></a
      >
    </div>
  </div>
</article>
