---
import { Image } from "astro:assets";
import { type Project } from "../hooks/useProjects.hook";
import IconLinkBtn from "./IconLinkBtn.astro";
import Card from "./Card.astro";

interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<Card class="grid grid-rows-2">
  {
    project.imageUrl && (
      <Image
        class="row-span-1 aspect-video h-full w-full rounded-xl object-contain drop-shadow-md transition-all duration-500 group-hover:md:scale-110"
        height="310"
        width="552"
        alt={`Image of the ${project.title} project`}
        decoding="async"
        loading="lazy"
        src={project.imageUrl}
      />
    )
  }
  <div class="row-span-1 flex flex-col gap-2">
    <p class="text-xl">{project.title}</p>
    <div class="flex flex-wrap gap-2 text-sm">
      {
        project.technologies.map((tech) => (
          <p class="rounded border-2 p-2 font-bold uppercase group-hover:bg-gray-50">
            {tech}
          </p>
        ))
      }
    </div>
    <p class="max-w-prose">
      {project.description}
    </p>
    <div
      class="items-flex-wrap flex w-full flex-grow flex-wrap items-center gap-2"
    >
      <IconLinkBtn
        external
        href={project.githubUrl}
        title="See this project on GitHub"
        icon="simple-icons:github"
        class="group-hover:bg-white"
      >
        View site
      </IconLinkBtn>

      {
        project.projectUrl && (
          <IconLinkBtn
            external
            href={project.projectUrl}
            title="See this project in action"
            icon="mdi:external-link"
            class="group-hover:bg-white"
          >
            View site
          </IconLinkBtn>
        )
      }
    </div>
  </div>
</Card>
