---
import { type WorkHistory } from "../hooks/useWorkHistory.hook";
import IconLink from "./IconLink.astro";
import Card from "./Card.astro";

interface Props {
  workHistory: WorkHistory[];
}

const { workHistory } = Astro.props;
---

<ul
  class="flex flex-grow flex-row flex-wrap justify-center gap-4 md:gap-8 lg:flex-col"
>
  {
    workHistory.map((work) => (
      <li>
        <Card class="grid md:grid-cols-3">
          <p class="mt-[0.20rem] font-mono text-sm md:col-span-1">
            {work.from} - {work.to}
          </p>
          <div class="flex flex-col gap-2 md:col-span-2">
            <p class="font-semibold">{work.positionTitle}</p>
            <IconLink
              external
              href={work.companyUrl}
              title={work.companyUrl}
              icon="mdi:external-link"
            >
              {work.company}
            </IconLink>
            <p class="max-w-prose text-sm">{work.jobDescription}</p>
            <div class="mt-2 flex flex-wrap gap-1">
              {work.technologies.map((tech: string) => (
                <p class="rounded border-2 p-2 text-xs font-bold uppercase group-hover:bg-gray-50">
                  {tech}
                </p>
              ))}
            </div>
          </div>
        </Card>
      </li>
    ))
  }
</ul>
