---
import SpeedInsights from "@vercel/speed-insights/astro";
import { AstroFont } from "astro-font";
import { SEO } from "astro-seo";
import { ViewTransitions } from "astro:transitions";
import SocialsBar from "../components/SocialsBar.astro";
import useContent from "../hooks/useContent.hook";
import ThemeSwitcher from "../components/ThemeSwitcher.astro";
import MadeWith from "../components/MadeWith.astro";

const { getDetails, getMetadata } = useContent();
const { fullName, profession, socials } = getDetails();
const { description, title: metadataTitle } = getMetadata();

interface Props {
  title?: string;
  class?: string;
}

const { title, class: className } = Astro.props;

const openGraph = {
  basic: {
    title: title
      ? `${title} | ${fullName} - ${profession}`
      : `${fullName} - ${profession}`,
    type: "website",
    image: "/metadata_thumbnail.jpg",
    url: Astro.url.href,
  },
  optional: {
    description: description,
    siteName: metadataTitle,
  },
};

const twitterOg = [
  { name: "og" },
  {
    name: "twitter:image",
    content: "/metadata_thumbnail.jpg",
  },
  { name: "twitter:title", content: metadataTitle },
  {
    name: "twitter:description",
    content: description,
  },
  { name: "twitter:card", content: "summary_large_image" },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="theme-color" content="#33333d" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <SEO
      title={title
        ? `${title} | ${fullName} - ${profession}`
        : `${fullName} - ${profession}`}
      description={description}
      openGraph={openGraph}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [...twitterOg],
      }}
    />
    <ViewTransitions />
    <AstroFont
      config={[
        {
          name: "Monoton",
          src: [
            {
              style: "normal",
              weight: "400",
              path: "https://fonts.gstatic.com/s/monoton/v19/5h1aiZUrOngCibe4TkHLQg.woff2",
            },
          ],
          preload: true,
          display: "swap",
          selector: "body",
          fallback: "sans-serif",
        },
        {
          name: "Roboto",
          src: [
            {
              style: "normal",
              weight: "400",
              path: "https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2",
            },

            {
              style: "normal",
              weight: "500",
              path: "https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc4.woff2",
            },
            {
              style: "normal",
              weight: "700",
              path: "https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2",
            },
          ],
          preload: true,
          display: "swap",
          selector: "body",
          fallback: "sans-serif",
        },
        {
          name: "Share Tech Mono",
          src: [
            {
              style: "normal",
              weight: "400",
              path: "https://fonts.gstatic.com/s/sharetechmono/v15/J7aHnp1uDWRBEqV98dVQztYldFcLowEF.woff2",
            },
          ],
          preload: true,
          display: "swap",
          selector: "body",
          fallback: "sans-serif",
        },
      ]}
    />
    <SpeedInsights />
  </head>
  <body
    class="overflow-x-hidden font-body text-black transition-colors duration-500 dark:bg-slate-800 dark:text-white"
  >
    <main
      class:list={[
        "transition-fade static z-10 mx-auto min-h-screen max-w-screen-xl px-2 py-12 md:px-12 md:py-20 lg:px-8 lg:py-0",
        className,
      ]}
      transition:animate="fade"
    >
      <div class="absolute right-10 top-10">
        <ThemeSwitcher />
      </div>
      <slot />
    </main>
    <footer
      class="mx-auto mb-12 flex h-36 max-w-screen-xl flex-row flex-wrap justify-center px-2 py-12 font-body md:mb-0 md:h-28 md:justify-end md:px-12 md:py-20 lg:px-8 lg:py-0"
    >
      <SocialsBar socials={socials} class="lg:hidden" />
      <MadeWith />
    </footer>
  </body>
</html>
