---
import { AstroFont } from "astro-font";
import { SEO } from "astro-seo";
import { ViewTransitions } from "astro:transitions";
import SocialsBar from "../components/SocialsBar.astro";
import IconLink from "../components/IconLink.astro";
import useContent from "../hooks/useContent.hook";

const { getDetails, getMetadata } = useContent();
const { fullName, profession, socials } = getDetails();
const { description, title: metadataTitle } = getMetadata();

interface Props {
  title?: string;
  class?: string;
}

const { title, class: className } = Astro.props;

const openGraph = {
  basic: {
    title: title
      ? `${title} | ${fullName} - ${profession}`
      : `${fullName} - ${profession}`,
    type: "website",
    image: "/metadata_thumbnail.jpg",
    url: Astro.url.href,
  },
  optional: {
    description: description,
    siteName: metadataTitle,
  },
};

const twitterOg = [
  { name: "og" },
  {
    name: "twitter:image",
    content: "/metadata_thumbnail.jpg",
  },
  { name: "twitter:title", content: metadataTitle },
  {
    name: "twitter:description",
    content: description,
  },
  { name: "twitter:card", content: "summary_large_image" },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="theme-color" content="#33333d" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <SEO
      title={title
        ? `${title} | ${fullName} - ${profession}`
        : `${fullName} - ${profession}`}
      description={description}
      openGraph={openGraph}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [...twitterOg],
      }}
    />
    <ViewTransitions />
    <AstroFont
      config={[
        {
          name: "Monoton",
          src: [
            {
              style: "normal",
              weight: "400",
              path: "https://fonts.gstatic.com/s/monoton/v19/5h1aiZUrOngCibe4TkHLQg.woff2",
            },
          ],
          preload: true,
          display: "swap",
          selector: "body",
          fallback: "sans-serif",
        },
        {
          name: "Roboto",
          src: [
            {
              style: "normal",
              weight: "400",
              path: "https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2",
            },

            {
              style: "normal",
              weight: "500",
              path: "https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc4.woff2",
            },
            {
              style: "normal",
              weight: "700",
              path: "https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2",
            },
          ],
          preload: true,
          display: "swap",
          selector: "body",
          fallback: "sans-serif",
        },
        {
          name: "Share Tech Mono",
          src: [
            {
              style: "normal",
              weight: "400",
              path: "https://fonts.gstatic.com/s/sharetechmono/v15/J7aHnp1uDWRBEqV98dVQztYldFcLowEF.woff2",
            },
          ],
          preload: true,
          display: "swap",
          selector: "body",
          fallback: "sans-serif",
        },
      ]}
    />
  </head>
  <body>
    <main
      class:list={[
        "transition-fade static z-10 mx-auto min-h-screen max-w-screen-xl px-2 py-12 font-sans md:px-12 md:py-20 lg:px-8 lg:py-0",
        className,
      ]}
      transition:animate="fade"
    >
      <slot />
    </main>
    <footer
      class="mx-auto mb-12 flex h-32 max-w-screen-xl flex-row flex-wrap justify-center px-2 py-12 font-sans md:mb-0 md:h-24 md:justify-end md:px-12 md:py-20 lg:px-8 lg:py-0"
    >
      <SocialsBar socials={socials} class="lg:hidden" />
      <div class="m-4 flex flex-col gap-1">
        <div class="flex gap-1">
          <p>Made by me with</p>
          <IconLink
            external
            icon="devicon:astro"
            href="https://astro.build"
            title="Astro"
          />
          <p>and</p>
          <IconLink
            external
            icon="devicon:tailwindcss"
            href="https://tailwindcss.com/"
            title="Tailwindcss"
          />
        </div>
        <div class="flex gap-1">
          <p>Deployed to</p>
          <IconLink
            external
            icon="devicon:vercel"
            href="https://vercel.com"
            title="Vercel"
          />
        </div>
      </div>
    </footer>
    <style is:global>
      html {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        scroll-behavior: smooth !important;
      }

      html.is-changing .transition-fade {
        transition: opacity 0.25s;
        opacity: 1;
      }

      html.is-animating .transition-fade {
        opacity: 0;
      }

      :root {
        --color-accent1: 255, 138, 0;
        --color-accent2: 229, 46, 113;
      }

      h1 {
        font-family: "Monoton", monospace;
      }

      h2 {
        font-family: "Share Tech Mono", monospace;
      }

      h3 {
        font-family: "Roboto", sans-serif;
      }

      p {
        font-family: "Roboto", sans-serif;
      }

      a {
        font-family: "Roboto", sans-serif;
      }

      a:hover {
        background: linear-gradient(
          90deg,
          rgb(var(--color-accent1)),
          rgb(var(--color-accent2))
        );
        text-shadow: none;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
      }

      .heading {
        font-family: "Share Tech Mono", monospace;
      }

      .fancy {
        background: linear-gradient(
          90deg,
          rgb(var(--color-accent1)),
          rgb(var(--color-accent2))
        );
        text-shadow: none;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    </style>
  </body>
</html>
